* {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', sans-serif;
  background-color: hsl(0, 0%, 35%);
}

.hidden {
  display: none;
}

.input{
  border: none;
}

.control{
  margin: 0 auto;
}