* {
  padding: 0;
  margin: 0;

}
.noob {
  font-family: 'Press Start 2P', sans-serif;
  padding-left: 10px;
}
.title p {
  width: 200px;
  font-size: 8px;
  font-weight: 800;
}
.title p {
  width: 200px;
  font-size: 8px;
  font-weight: 800;
}

.title p {
  width: 200px;
  font-size: 8px;
  font-weight: 800;
}

body {
  background-color: #2a2a31;
}

.header{
padding-top: 20px;
}

.nav {
  position: relative;
  width: 97%;
  justify-content: center;
}

.hidden {
  display: none;
}

/* search bar section  */

.search-bar {
  position: absolute;
  left: 20%;
  bottom: 50px;
  width: 75vw;
}

.input{
  border: none;
  border-radius: 30px;
}

.icon {
  border: none;
  border-radius: 30px;
}


.control{
  margin: 0 auto;
}

footer {
  background-color: #7b7b8f;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 800px;
  color: #f1f1f1;
  text-align: center;
}

h4{
  font-size: 20px;
}