* {
  padding: 0;
  margin: 0;

}

.noob {
  font-family: 'Press Start 2P', sans-serif;
  padding-left: 10px;
}

.headerTitle {
  padding-left: 10px;
  /* width: 25vw; */
}

.headerTitle h1 {
  text-align: center;
}

.headerTitle p {
  /* width: 200px; */
  font-size: 10px;
  text-align: center;
  /* font-weight: 800; */
}

.coins{
  color: gold;
}



body {
  background-color: #2a2a31;
}

.header{
padding-top: 20px;
}

.nav {
  display: flex;
  width: 97%;
  justify-content: center;
}

.hidden {
  display: none;
}

/* search bar section  */

:root {
  --focused: #7b7b8f;
  --unfocused: #494953;
}

.search-bar {
  /* width: 20 */
  margin: 0 auto;
}

.input{
  border: none;
  border-radius: 30px;
  background-color: var(--unfocused)
}

.icon {
  border: none;
  border-radius: 30px;
  background-color: var(--unfocused);
}

i {
  background-color: var(--unfocused);
}

.control{
  margin: 0 auto;
}

footer {
  background-color: #7b7b8f;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 800px;
  color: #f1f1f1;
  text-align: center;
}

h4{
  font-size: 20px;
}